<!DOCTYPE html>
<html ng-app="MyApp">
<head>
	<title>Workbook</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/workbook.css" rel="stylesheet">

    <script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js"></script>
	<script type="text/javascript" src="../js/angular.js"></script>
	<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WorkBook</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-controller="avaliacaoController">
            <ul class="nav navbar-nav navbar-right">
			
								
				<li class="dropdown" ng-if="!facebookUser">
					<a class="dropdown-toggle" role="button" data-toggle="dropdown" href="/login">Entrar</a>
					<ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="/login">Entrar</a></li>
                        <li><a href="/facebook_login.html">Logar com Facebook</a></li>
                        <li><a href="/usuario/criar.html">Registrar</a></li>
                    </ul>
				</li>

				<li ng-if="facebookUser" class="dropdown"><a href="#">{{facebookUser.name}}</a></li>				
				
				<li><a href="/categoria/listar.html">Categorias</a></li>
                <li><a href="/Servico/form.html">Cadastrar Serviço</a></li>
                
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
	                    <i class="glyphicon glyphicon-user"></i>
	               
	                    <span class="caret"></span>
                    </a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="/logout">Sair</a></li>
                    </ul>
                </li>
			
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


	<aside id="left" class="row" ng-controller="servicoController">
	<form class="form-horizontal" ng-submit="submitForm(servico)" >
		<input type="hidden" path="id" ng-model="servico.id"/>
		<div class="form-group">
			<label for="titulo" class="col-sm-2 control-label" value="titulo">Titulo</label>
			<div class="col-sm-10">
				<input type="text" name="titulo" ng-model="servico.titulo" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label for="descricao" class="col-sm-2 control-label" value="Descricao">Descrição</label>
			<div class="col-sm-10">
				<input type="text" name="descricao" rows="5" ng-model="servico.descricao" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="telefone" class="col-sm-2 control-label"value="telefone">Telefone</label>
			<div class="col-sm-10">
				<input ng-model="servico.telefone" value="servico.telefone" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label for="celular" class="col-sm-2 control-label" value="celular">Celular</label>
			<div class="col-sm-10">
				<input ng-model="servico.celular" value="servico.celular" class="form-control" />
			</div>
		</div>
		<div class="form-group" ng-controller="categoriaController">
			<label for="categoria" class="col-sm-2 control-label" value="categoria">Categoria</label>
			<div class="col-sm-10" >
				<select ng-model="servico.categoria" class="form-control">
					<div>
						<option ng-repeat="categoria in categorias.data" value="{{categoria.id}}">{{categoria.nome}}</option>
					</div>
			</div>
		</div> 
		
		<div class="form-group">
			<label for="image" class="col-sm-2 control-label" value="image">Imagem</label>
			<div class="col-sm-10">
				<input ng-model="servico.image" value="{{servico.image}}" type="file" class="form-control" />
			</div>
		</div>
		<div class="form-group">
    		<div class="col-sm-offset-2 col-sm-10">
      			<button type="submit" class="btn btn-success">Enviar</button>
    		</div>
  		</div>
	</form>
	<pre>servico = {{servico | json}}</pre> 
	</aside>
</body>

<script type="text/javascript" src="../js/bootstrap.min.js"></script>
</html>