<div  layout="column" layout-align="start start">
	<h3>{{solicitacao.usuario.nome}}</h3>
	<md-card md-theme="default" md-theme-watch ng-repeat="servico in solicitacao.servico" layout-fill>
	<!--<a href="/#/servico/{{servico.id}}">-->
		<md-card-title ng-click="toogleSelected(solicitacao.servico.indexOf(servico))">
			<md-card-title-text>
			<input type="checkbox" ng-model="servico.selected" hide checklist-model="ids.servicos" checklist-value="servico.id">
			<span><md-icon style="{{servico.selected? 'color:#FF5722' : ''}}">check_circle</md-icon></span>
			<span class="md-headline">{{servico.titulo}}</span>
			<span class="md-subhead">{{servico.descricao}}</span>
			</md-card-title-text>
			<md-card-title-media>
				<div class="md-media-sm card-media"><img src="{{servico.imagem}}"></div>
			</md-card-title-media>
		</md-card-title>
	<!--</a>-->
	</md-card>
	   <md-button ng-href="/#/orcamento/solicitar/chat/{{solicitacao.id}}">Fale com o cliente</md-button>
	   <md-button ng-if="solicitacao.status=='pendente'" ng-click="negarSolicitacao()">Negar solicitação</md-button>
	 </div>
</div>

<div>

	<form ng-if="solicitacao.status=='pendente'" ng-submit="enviarOrcamento(orcamento)">
		 
		<md-input-container>
			<label>Valor do serviço:</label>
			<input type="number" ng-model="orcamento.valor" min="0" >
		</md-input-container>
		<md-button class="md-raised"  ng-disabled="true|false" aria-label="description" type="submit">Enviar orçamento</md-button>

	</form>
</div>